body {
	font-family: "Metropolis Regular";
	background-color: transparent;
	position: relative;
}

.thumbnail {
	padding: 0px;
	border: 0px solid;
}



.titulos {
	font-family: "Metropolis Bold";
	font-size: 2em;
	padding: 2%;
}

.subtitulos {
	font-family: "Metropolis Bold";
	font-size: 1.5em;
}

.metropolis {
	font-family: "Metropolis";
}




/* About me */
.fondo-total {
	background-image: url("../assets/piano.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	width: 110%;
}


/*Acerca de mi*/



.cv {
	margin-top: 10%;
}




/* Sección Proyectos*/


.habilidades {
	padding-bottom: 5%;
}

.blandas {
	padding-top: 5%;
}


.btn.btn-default {
	background: transparent;
	border-radius: 20%;
	border: 1px solid rgb(17, 15, 15);
}

.bar {
  width: 10%;
  height: 100%;
  border-radius: 16px;
  animation-name: increase;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}





footer.page-footer {
	margin-top: 0px;
	padding-top: 20px;
	background-color: rgba(0, 0, 0, .8);

}



body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


.contenedor {
  position: relative;
  width: 100%;
}
.mini-icono {
	height: 50px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.contenedor:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
